body {
    background-color: #3b3b3b;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    position: fixed;
}

i {
    margin-top: 8px;
}

.content h1, h2 {
    text-align: center;
}

.content h2 {
    color: white;
}

.search-bar {
    display: flex;
    justify-content: center;
}