body {
    background-color: #3b3b3b;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    position: fixed;
}

i {
    margin-top: 8px;
}

.content h1, h2 {
    text-align: center;
}

.content h2 {
    color: white;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar input {
    width: 50%;
    margin-left: 40px;
    height: 37px;
    border: none;
    border-radius: 9px;
}

.search-bar input::placeholder {
    margin-left: 100px;
}
